<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write a new chat</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <div class="main">
    <div class="head">
    <h3>Write new chat</h3>
    </div>
    <div class="newch">
    <form action="/chats" method="POST">
       <input class="from" placeholder=" who are you ?" name="from"><br><br>
        <textarea class="msg" name="msg" placeholder="Write your message here" ></textarea><br><br>
        <input class="to" type="text" placeholder="add receiver" name="to"><br><br>
        <button class="btn">Create chat</button>
    </form></div></div>
</body>
</html>